
/*approximately "small" (576px)*/
@media only screen and (min-width: 500px) {
#widthPop{
	width: 60%;
}

.buttonCA {  
	width: 8em;
  	height: 8em;
  	line-height: 8em; /* adjust line height to align vertically*/
  	padding:0;
  	border-radius: 50%;
  	margin-right:1em;
  	float:left;
  	margin-top:0.5em;
  }

}

/*unsure of this one*/
@media only screen and (min-width:0px){
	.col-9{
		-ms-flex: 0 0 100%;
  		flex: 0 0 100%;
  		max-width: 100%;
	}

}

@media only screen and (min-width: 370px){
	.col-9{
		-ms-flex: 0 0 75%;
  		flex: 0 0 75%;
  		max-width: 75%;
	}

}

/* when the navbar collapses */
@media only screen and (min-width:992px){
	.buttonC {  
	width: 6em;
  	height: 6em;
  	line-height: 6em; /* adjust line height to align vertically*/
  	padding:0;
  	border-radius: 50%;
  }

  	#smallBell{
		display:none;
	  }

	#bigBell{
		display:unset;
	}

}