
.ca{
  text-align: center;
}

.abc{
  width:100%;
}

/*blue*/
.mybuttonstyle{
	border-color: rgba(110, 127, 255, 0.85) !important;
	/*border: 0 !important;*/
	background: rgba(110, 127, 255, 0.85) !important;
}

/*pink*/
.mybuttonstyle2{
	border: 0 !important;
	background: rgba(	255, 106, 156, 0.85) !important;
	color: #fff;
}

/*blue*/
#blueBtn:hover, #blueBtn:active{
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}

/*pink*/
#pinkBtn:hover, #pinkBtn:active{
  background: rgba(	255, 106, 156, 1) !important;
  color: #fff;
}

/*a{
	color:#3f4653 !important;
}*/

/*
.btn-primary:hover, .btn-primary:active{
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}*/

/*pink
.btn-primary2:hover, .btn-primary2:active{
  background: rgba(	255, 106, 156, 1) !important;
  color: #fff;
}*/

/*changed sign up hovers to blue*/
/*.btn-outline-secondary:hover {
	color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}*/

/*to change*/
/*.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: rgba(110, 127, 255, 1) !important;
	background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
	color: #fff;
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;*/
/*}*/

/*to change*/
/*.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}*/
/*changed sign up hovers to blue*/

#blueBtn-secondary:hover{
	color: white !important;
/*  background-color: #6c757d;
  border-color: #6c757d;*/
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;	
}

#blueBtn-secondary.disabled, #blueBtn-secondary:disabled {
	color: rgba(110, 127, 255, 1) !important;
	background-color: transparent;
}

#blueBtn-secondary:not(:disabled):not(.disabled):active, #blueBtn-secondary:not(:disabled):not(.disabled).active,
.show > #blueBtn-secondary.dropdown-toggle {
	color: #fff;
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}



/*doesnt work*/
/*#hoverWhite{
	color:red;
}

#hoverWhite:hover{
	color:#fff;
}*/

/*SIGN UP
.centerSignUpButtons{
	width:15em;
}

.centerSignUpButtons2{
	width:25em;
}*/

[type='radio'] {
display: none; 
}




/*Form Page*/
/*#aBlack{
	color:#3f4653;
}

#aBlack.active{
	color:white !important;
}*/

.aBlack{
	color:#3f4653;
}

.aBlack:hover{
	text-decoration:none;
	color:#3f4653;
}

.aWhite{
	color:white;

}

.aWhite:hover{
	text-decoration: none;
	color:white;
}

.fa-angle-right{
	color: rgba(110, 127, 255, 1);
}
/*#fullBorder{
	border-top-left-radius: 0rem;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: 0rem;
  	border-bottom-left-radius: .25rem;
}*/

/*a:hover .noUnderline { text-decoration: none }

a .noUnderline:hover { text-decoration: none }
a:hover .noUnderline .btn { text-decoration: none }
a .noUnderline .btn:hover { text-decoration: none }*/

/*.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem;
}*/

/*a{
	color:#3f4653 !important;
}

a.active{
	color:white;
}*/

.nav-link-pink {
	color: white !important;
	background-color:rgba(	255, 106, 156, 0.85) !important;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link-pink.active {
	color: white !important;
	background-color:rgba(	255, 106, 156, 0.85) !important;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

/*.nav-link-pink.hover*/

.nav-tabs-pink{
	border-bottom: 2px solid rgba(	255, 106, 156, 0.85);
	border-color: rgba(	255, 106, 156, 0.85);
}


.center{
	text-align:center;
}


/*doesn't work*/
.borderGrey{
	border-color:#dee2e6;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.buttonC {  
	width: 4em;
  	height: 4em;
  	line-height: 4em; /* adjust line height to align vertically*/
  	padding:0;
  	border-radius: 50%;
  }

.buttonCA {  
	width: 6em;
  	height: 6em;
  	line-height: 6em; /* adjust line height to align vertically*/
  	padding:0;
  	border-radius: 50%;
  	margin-right:1em;
  	float:left;
  	margin-top:0.5em;
  }

#widthPop{
	width: 50%;
}



/*.nav{
	width:100% !important;
	text-align:center !important;
	display:inline-block !important;

}

.nav-inline li{
	display:inline-block;
	float:none;
}
*/


/* Dashboard Styles *************/

.hideContent {
		overflow: hidden;
		height: 3.4em;
}

.showContent {
		height: auto;
}

#Mybutton1 {
		padding: 10px 0;
		text-align: center;
}

#view-more {
		clear: both;
}


