@media only screen and (min-width: 968) {

}

/*unsure of this one*/
@media only screenand (min-width:0){
	.col-9{
		-ms-flex: 0 0 100%;
  		flex: 0 0 100%;
  		max-width: 100%;
	}
}

@media only screen and (min-width: 370){
	.col-9{
		-ms-flex: 0 0 75%;
  		flex: 0 0 75%;
  		max-width: 75%;
	}
}

.ca{
  text-align: center;
}

.abc{
  width:100%;
}

/*blue*/
.mybuttonstyle{
	border-color: rgba(110, 127, 255, 0.85) !important;
	/*border: 0 !important;*/
	background: rgba(110, 127, 255, 0.85) !important;
}

/*pink*/
.mybuttonstyle2{
	border: 0 !important;
	background: rgba(	255, 106, 156, 0.85) !important;
	color: #fff;
}

/*blue*/
.btn-primary:hover, .btn-primary:active{
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}

/*pink*/
.btn-primary2:hover, .btn-primary2:active{
  background: rgba(	255, 106, 156, 1) !important;
  color: #fff;
}

/*changed sign up hovers to blue*/
.btn-outline-secondary:hover {
	color: #fff;
/*  background-color: #6c757d;
  border-color: #6c757d;*/
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}

/*to change*/
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: rgba(110, 127, 255, 1) !important;
	background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
	color: #fff;
	border-color: rgba(110, 127, 255, 1) !important;
  	background: rgba(110, 127, 255, 1) !important;
}

/*to change*/
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
/*changed sign up hovers to blue*/



/*SIGN UP
.centerSignUpButtons{
	width:15em;
}

.centerSignUpButtons2{
	width:25em;
}*/

[type='radio'] {
display: none; 
}



/*Form Page*/
.aBlack{
	color:#3f4653;
}

.nav-link-pink.active{
	color: white !important;
	background-color:rgba(	255, 106, 156, 0.85) !important;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs-pink{
	border-bottom: 2px solid rgba(	255, 106, 156, 0.85);
	border-color: rgba(	255, 106, 156, 0.85);
}

/*doesn't work*/
.borderGrey{
	border-color:#dee2e6;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
